*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins" ,sans-serif;
    scroll-behavior: smooth;
}

.container{
    margin: 0 auto;
}
.container-content{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.banner a img{
    width: 100%;
}
.nav{
    display: flex;
    margin-top: -7px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(33, 94, 163);
}
.menu-list{
    display: flex;
    gap: 40px;
}
.menu-item{
    list-style: none;
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background-color: #166a91;
    margin-top: 13px;
    width: 200px;
    z-index: 2;
    display: none;
}
.dropdown-menu li:hover{
    background-color: rgb(182, 135, 135);
    display: block;
}
.dropdown-menu li{
    border-bottom: 1px solid aqua;
    line-height: 40px;
    padding-left: 5px;
    box-shadow: 0 0 10px gray;
}
.menu-item-dropdown{
    list-style: none;
}
.menu-item-dropdown .menu-link-dropdown{
    text-decoration: none;
    color: #ffff;
    font-size: 13px;
}
.dropdown-menu::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 2rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid #fff;
    transform: translateY(-100%);
}
.chimcut::before{
    content: "";
    position: absolute;
    height: 30px;
    margin-top: -13px;
    left: 0;
    right: 0;
    background-color: transparent;
}
.menu-item:hover .dropdown-menu{
    display: block;
}
.menu-item .menu-link{
    text-decoration: none;
    color: #ffff;
    font-weight: 500;
}
.menu-item .menu-link:hover{
    padding-bottom: 5px;
    color: aqua;
    border-bottom: 1px solid aqua;
}

.form-search-input{
    padding:7px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.form-search-input:focus{
    box-shadow: 0 0 5px aqua;
}
.form-search-btn{
    padding: 6px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.form-search-btn:hover{
    background-color: aqua;
}

/* Chữ chạy */

.container-chuchay{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.time p{
    font-size: 16px;
    color: #666;
    padding: 0 50px;
}
.container-chuchay .hello{
    margin-top: 6px;
    width: 75%;
}
.container-chuchay .hello marquee{
    color: rgb(33, 94, 163);
    font-weight: bold;
    font-size: 15px;
}

/* content */
.map{
    margin-top: 10px;
}
.gg-map{
    width: 100%;
}
.form-group p{
    margin-bottom: 10px;
    font-size: 14px;
}
.form-group{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}
.form-text{
    width: 100%;
    padding: 6px 0px 6px 10px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
}
.form-text:focus{
    box-shadow: 0 0 3px rgba(14, 105, 209, 0.699);
    border: 1px solid rgba(14, 105, 209, 0.699);
}
.form-button{
    display: flex;
    justify-content: end;
    align-items: center;
}
.form-button span{
    font-size: 10px;
    font-style: italic;
    margin-right: 10px;
}
.form-button button{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: rgb(209, 206, 206);
}
/* footer */
.container-full-width{
    background-color: rgb(132, 173, 221);
}
.content-footer{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -6px;
    padding: 20px 20px;
    display: flex;
    gap: 10em;
}
.list-footer span,
.thongtin span{
    display: block;
    padding: 10px 0;
}
.list-footer p,
.thongtin p{
    padding: 3px 0;
    font-size: 13px;
    opacity: 0.8;
}
.info-design{
    display: flex;
    justify-content: center;
    margin-top: -6px;
    padding: 5px 0;
    background-color: rgb(132, 173, 221);
    color: #f3f3f3;
}

/*  */
.back-to-top{
    position: fixed;
    bottom: 100px;
    right: 10px;
}
.back-to-top a{
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
    background-color: #166a91;
    font-size: 20px;
    color: #fff;
}
.back-to-top a:hover{
    background-color: rgb(21, 78, 78);
}